nav{
  height: 130px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
  }

  main {
    flex: 1 0 auto;
  }

/*for icons*/
.icolour{
  color: #e65100;
}

.logo img{
  max-height: 100px;
  max-width: 100px;
}
