{% extends 'pages/basewhite.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}" />

<div class="container">
  {% for a in about %}
  <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image this-image">
          <img src="{{ a.profile_Pic.url }}" alt="Profile Picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>
              {{ a.description|safe }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for b in about %}
    <div class="row">
      <div class="col s12">
        <div class="card-panel white">
          <span class="grey-text text-darken-3">
            <div class="resume">
              <p>
                {{ b.resume|safe }}
              </p>

              <p>
                <a href="{{ b.cv.url }}">Print Curriclum Vitae</a>
              </p>
            </div>
          </span>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}
